
html{
    font-size: 62.5%; 
/* 16px * 62,5 10.00rem */
}
body{
  font: 1.6rem sans-serif;
  line-height: 1.6;
  margin: 0;
}
*{
    box-sizing: border-box; /* 100px largeur + 10px padding + 1px border */
}
ul,ol, p,button,figure,blockquote, h1, h2, h3, address{
    padding: 0;
    margin: 0;
    border: 0;
    list-style: none;
    font-style: normal;
}
header{
    max-width: 100%;
    
}
button{
    background: transparent;
    font-size: inherit;
    border: 0;
}
a{
    text-decoration: none;
    color: #222;
}
img{
    display: inline-block;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    object-fit: cover;
}
.material-icons{
    vertical-align: .5rem;
    font-size: 3rem;
}
header nav ul{
    align-items: center;
    margin-left: 3rem;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    max-width: 70rem;
}

header nav ul li{
    font-family: Arial;

    margin-left: 62px;
    margin-top: 27px;
    font-size: 1.4rem;
    font-weight: 800;
}

header nav ul li h1{
    float: left;
    color: #ff7200;

    font-size: 3.5rem;
    font-family: Arial;
}

main{
    width: 100%;

}
main>.title-web{
    max-width: 90%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin: 7rem auto;
    background-color: red;
}

main>.title-web section{
    width: 140%;
    padding: 1rem;
}


fieldset{
    max-width: 40rem;
    float: right;
    background-color: black;
}
main>.title-web>section>h1{
    line-height: 6rem;
    font-family: 'Times New Roman';
    font-size: 5rem;}

main>.title-web>section>h1>.orange_text{
    color: #ff7200;

}

main>.title-web>section  button{
    padding: 1rem;
    border-radius: 1rem;
    background-color: rgb(255, 255, 255);
    width: 15rem;
 
}

main>.title-web>section>p{
    width: 100%;
}
