
html{
font-size: 62.5%; 
/* 16px * 62,5 10.00rem */
}
body{
    background: linear-gradient(to top, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0.5) 50%), url(./zizi.jpeg);
    background-position: center;
    background-size: cover;
    font: 1.6rem sans-serif;
    line-height: 1.6;
    margin: 0;
}

ul,ol, p,button,figure,blockquote, h1, h2, h3, address{
    padding: 0;
    margin: 0;
    border: 0;
    list-style: none;
    font-style: normal;
}
button{
    background: transparent;
    font-size: inherit;
    border: 0;
}
a{
    text-decoration: none;
    color: #222;
}
img{
    display: inline-block;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    object-fit: cover;
}
.material-icons{
    vertical-align: .5rem;
    font-size: 3rem;
}

/**/

main{
    width: 100%;
 
}

nav{
    max-width: 100%;
    height: 7.5rem;
    margin: auto;
}
.mobile_nav{
    display: none;
    width: 100%;
    position: fixed;
    height: 5rem;
    top: 0;
    background-color: white;
}
.icon{
    width: 20rem;
    float: left;
    height: 7rem;
}

.logo{
    color: #ff7200;
    font-size: 3.5rem;
    font-family: Arial;
    padding-left: 2rem;
    float: left;
    padding-top: 1rem;
    margin-top: .5rem
}

.menu{
    max-width: 40rem;
    float: left;
    height: 7rem;
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 6.2rem;
    margin-top: 2.7rem;
    font-size: 1.4rem;
}

ul li a{
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: #ff7200;
}

.search{
    width: auto;
    float: right;
    padding: 1rem;
}

.srch{
    font-family: 'Times New Roman';
    width: 20rem;
    height: 4rem;
    background: transparent;
    border:.1rem solid #ff7200;
    margin-top: 1.3rem;
    color: #fff;
    border-right: none;
    font-size: 1.6rem;
    float: left;
    padding: 1rem;
    border-bottom-left-radius: .5rem;
    border-top-left-radius: .5rem;
}
.b_mobile{
    display: none;
}
.btn{
    width: 10rem;
    height: 4rem;
    background: #ff7200;
    border: .2rem solid #ff7200;
    margin-top: 1.3rem;
    color: #fff;
    font-size: 1.5rem;
    border-bottom-right-radius: .5rem;
    border-bottom-right-radius: .5rem;
    transition: 0.2s ease;
    cursor: pointer;
}
.btn:hover{
    color: #000;
}

.btn:focus{
    outline: none;
}

.srch:focus{
    outline: none;
}

.content{
    max-width: 120rem;
    height: auto;
    margin: auto;
    color: #fff;
    position: relative;
}

.content .par{
    padding-left: 2rem;
    padding-bottom: 2.5rem;
    font-family: Arial;
    letter-spacing: 0.12rem;
    line-height: 3rem;
}

.content h1{
    font-family: 'Times New Roman';
    font-size: 5rem;
    padding-left: 2rem;
    margin-top: 9%;
    letter-spacing: .2rem;
}

.content .cn{
    width: 16rem;
    height: 4rem;
    background: #ff7200;
    border: none;
    margin-bottom: 1rem;
    margin-left: 2rem;
    font-size: 1.8rem;
    border-radius: 1rem;
    cursor: pointer;
    transition: .4s ease;
    
}

.content .cn a{
    text-decoration: none;
    color: #000;
    transition: .3s ease;
}

.cn:hover{
    background-color: #fff;
}

.content span{
    color: #ff7200;
    font-size: 6.5rem
}

.form{
    width: 25rem;
    height: 41rem;
    background: linear-gradient(to top, rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
   
    border-radius: 1rem;
    padding: 2.5rem;
}

.form h2{
    width: 22rem;
    font-family: sans-serif;
    text-align: center;
    color: #ff7200;
    font-size: 2.2rem;
    background-color: #fff;
    border-radius: 1rem;
    margin: .2rem;
    padding: .8rem;
}

.form input{
    width: 24rem;
    height: 3.5rem;
    background: transparent;
    border-bottom: .1rem solid #ff7200;
    border-top: none;
    border-right: none;
    border-left: none;
    color: #fff;
    font-size: 1.5rem;
    letter-spacing: .1rem;
    margin-top: 3rem;
    font-family: sans-serif;
}

.form input:focus{
    outline: none;
}

::placeholder{
    color: #fff;
    font-family: Arial;
}

.btnn{
    width: 24rem;
    height: 4rem;
    background: #ff7200;
    border: none;
    margin-top: 3rem;
    font-size: 1.8rem;
    border-radius: 1rem;
    cursor: pointer;
    color: #fff;
    transition: 0.4s ease;
}
.btnn:hover{
    background: #fff;
    color: #ff7200;
}
.btnn a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}
.form .link{
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.7rem;
    padding-top: 2rem;
    text-align: center;
}
.form .link a{
    text-decoration: none;
    color: #ff7200;
}
.liw{
    color: #fff;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    text-align: center;
}
.icons a{
    text-decoration: none;
    color: #fff;
}
.icons ion-icon{
    color: #fff;
    font-size: 3rem;
    padding-left: 1.4rem;
    padding-top: .5rem;
    transition: 0.3s ease;
}
.icons ion-icon:hover{
    color: #ff7200;
}

.grid{
    align-items: center;
    vertical-align: middle;
    margin-top: 3rem;
    display: block;
    height: 100vh;
    width: 100%;
}

.grid .a{
    margin-left: 2rem;
    float: left;
    width: 64%;
    height: auto;
}

.grid .b{
    margin-top: 4rem;
    width: 33%;
    height: auto;

    float: right;
}
@media screen and (max-width: 1067px){
    .grid{
        margin-top:10rem;
    }
    .grid .b{
      display: none;
      width: 33%;
      height: auto;
      margin: 0 auto;
      float: right;

    }
    nav .menu{
        display: none;
    }
    .mobile_nav{
        display: block;
        z-index: 12;
    }

    .mobile_nav>h1{
        position: absolute;
        top: 50%;
        left: 50%;
        color: #ff7200;
        font-family: Arial;
        transform: translate(-50%,-50%);
    }
    .center {
        top: 50%;
        left: 10%;
        transform: translate(-50%, -50%);
        position: absolute;
        z-index: 13;
        width: 5rem;
      }
      
      .center:before,
      .center:after,
      .center div {
        background: rgb(0, 0, 0);
        content: "";
        display: block;
        height: .6rem;
        border-radius: .3rem;
        margin: .7rem 0;
        transition: 0.5s;
      }
      .center:hover:before {
        transform: translateY(1.2rem) rotate(135deg);
      }
      .center:hover:after {
        transform: translateY(-1.2rem)rotate(-135deg);
      }
      .center:hover div {
        transform: scale(0);
      }
      
      .page_hide{
          position: fixed;
          width: 100%;
          height: 100vh;
          z-index: 12;
         display: block;
         background-color:#ff7300;
          top:5rem ;
          transition: all .5s;
      }
      .page_show{
        position: fixed;
        width: 0%;
        height: 100vh;
        z-index: 12;
       display: block;
       background-color:#ff73001a;
        top:5rem ;
        left: -200rem;
        transition: all .5s;
      }

      .page_hide>ul{
          
          display: block;
      }
      .page_hide>ul>li{
          font-size: 2.3rem;
          padding-top: 2rem;
      }
      .icon .logo{
          display: none;
      }
      main nav .search{
          display: none;
      }

      .b_mobile{
        display: block;
     margin-left: 7rem;
     margin-top: 6rem;
     margin-bottom: -6rem;


}

}